<header class="app-header">

  <div class="logo">
    <a routerLink="/matches"><img src="assets/logo.png" alt="Logo Easy Match" /></a>
  </div>


  <nav class="nav-links">
    <button mat-button id="matches-btn" routerLink="/matches" routerLinkActive="active">Partidos abiertos</button>
    <button mat-button id="clubs-btn" routerLink="/clubs" routerLinkActive="active">Clubes</button>
    <button mat-button id="profile-btn" routerLink="/profile" routerLinkActive="active">Perfil</button>
  </nav>

  <div class="actions">
    <button id="create-match-btn" mat-stroked-button color="primary" class="create-btn"  routerLink="/matches/create">
      <mat-icon>add</mat-icon>
      Crear Partido
    </button>

    @if (user(); as u) {
      <div class="user-info" [matMenuTriggerFor]="userMenu">
        <img class="avatar" [src]="getUserImage(u.id) || 'assets/default-avatar.jpg'" alt="Usuario" />
        <div class="user-text">
          <span class="user-name">{{ u.realname }}</span>
          <span class="user-level">Nivel {{ u.level | number:'1.0-2' }}</span>
        </div>
        <mat-icon class="arrow-icon">expand_more</mat-icon>
      </div>

      <mat-menu #userMenu="matMenu" panelClass="user-menu-panel">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          Mi perfil
        </button>

        <button mat-menu-item class="my-matches-btn" routerLink="/my-matches" routerLinkActive="active">
          <mat-icon>emoji_events</mat-icon>
          Mis partidos
        </button>

        <button mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          Ajustes
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item class="logout-btn" (click)="logout()">
          <mat-icon color="warn">logout</mat-icon>
          <span class="logout-text">Cerrar sesión</span>
        </button>
      </mat-menu>
    }
  </div>
</header>
