<app-header></app-header>

<mat-card>

  @if (chats().length === 0) {
    <p>No tienes chats todavía</p>
  }

  @if (chats().length > 0) {
    <mat-list>
      @for (chat of visibleChats(); track $index) {
        <mat-list-item (click)="openChat(chat.matchId)">

        <div class="chat-item">
          <div class="chat-header">
            <span class="title">Chat partido #{{ chat.matchId }}</span>
            <span class="time">{{ chat.timestamp | date:'HH:mm' }}</span>
          </div>

          <div class="chat-preview">
            <strong>@{{chat.senderUsername}}</strong>
            {{ chat.content }}
          </div>
        </div>

      </mat-list-item>
      }
    </mat-list>
    @if (hasMoreChats()) {

      <div class="load-more">

        <button
          mat-stroked-button
          type="button"
          (click)="loadMore()"
        >
          Cargar más
        </button>

      </div>

    }
  }
</mat-card>