:host {
  display: block;
  height: 100%;
}

mat-card {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  padding: 16px;
  border-radius: 16px;
}


h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 12px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.7);

  .mat-icon {
    font-size: 20px;
  }
}


mat-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

mat-list-item {
  cursor: pointer;
  border-radius: 12px;
  padding: 12px;
  transition: all 0.2s ease;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:hover {
    background: rgba(25, 118, 210, 0.08);
  }
}

/* Título (match) */
[matListItemTitle] {
  font-weight: 500;
  font-size: 14px;
  color: #1e293b;
}

[matListItemLine] {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);

  /* truncado elegante */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

p {
  text-align: center;
  margin-top: 24px;
  color: rgba(0,0,0,0.5);
}

.chat-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 14px;
  color: #1e293b;
}

.time {
  font-size: 11px;
  color: rgba(0,0,0,0.5);
}

.chat-preview {
  font-size: 13px;
  color: rgba(0,0,0,0.6);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

::ng-deep .mdc-list-item__content {
  width: 100%;
}

mat-list-item {
  height: auto !important;
  align-items: flex-start !important;
}

