<div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="match-wrapper">
  <mat-card id="match-card{{match.id}}" class="match-card">
    <mat-card-header>
      <div mat-card-avatar class="sport-avatar"> 
        <mat-icon [ngSwitch]="match.sport.toLowerCase()"> 
          @switch (match.sport.toLowerCase()) {
            @case ('futbol') { sports_soccer } 
            @case ('tenis') { sports_tennis } 
            @case ('padel') { sports_tennis } 
            @case ('volley') { sports_volleyball } 
            @default { emoji_events } 
          } 
        </mat-icon> 
      </div>

      <mat-card-title class="sport-title">{{ match.sport }}</mat-card-title>
      <mat-card-subtitle class="match-date">{{ match.date | date:'dd/MM/yyyy, HH:mm' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="match-info">
        <div class="match-row">
          <mat-icon color="primary">place</mat-icon>
          <span class="match-city">{{match.club.name}}, {{ match.club.city || 'Por confirmar' }}</span>
        </div>

        <div class="match-row">
          <mat-icon color="primary">group</mat-icon>
          <span>{{ match.players.length }}/{{ match.players.length }} jugadores</span>
        </div>

        <div class="match-row">
          <mat-icon color="primary">lock</mat-icon>
          <span>{{ match.isPrivate ? 'Privado' : 'Público' }}</span>
        </div>

        <div class="match-row">
          <mat-icon color="primary">emoji_events</mat-icon>
          <span>{{ match.type ? 'Competitivo' : 'Amistoso' }}</span>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>
        <div class="organizer">
        <img
          class="organizer-avatar"
          [src]="getUserImage(match.organizer.id) || 'assets/default-avatar.jpg'" alt="avatar" 
          alt="Avatar del organizador"
          width="56"
          height="56"
        />
        <div class="organizer-info">
          <span class="organizer-name">{{ match.organizer.realname }}</span>
          <div class="organizer-meta">
            <span class="organizer-role">Organizador</span>
            <span class="separator">·</span>
            <span class="organizer-level">Nivel {{ match.organizer.level | number:'1.0-2' }}</span>
          </div>
        </div>

        <div class="match-price">
          <span>{{ match.price }} €</span>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" class="join-button">Unirse</button>
    </mat-card-actions>
  </mat-card>
</div>
