<div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start stretch" class="match-wrapper">
  <mat-card id="match-card{{match.id}}" class="match-card">
    <mat-card-header>
      <div mat-card-avatar class="sport-avatar"> 
        <mat-icon [ngSwitch]="match.sport.name.toLowerCase()"> 
          @switch (match.sport.name.toLowerCase()) {
            @case ('futbol') { sports_soccer } 
            @case ('tenis') { sports_tennis } 
            @case ('padel') { sports_tennis } 
            @case ('voleibol') { sports_volleyball } 
            @default { sports } 
          } 
        </mat-icon> 
      </div>

      <mat-card-title class="sport-title">{{ match.sport.name }}</mat-card-title>
      <mat-card-subtitle class="match-date">{{ match.date | date:'dd/MM/yyyy, HH:mm' }}</mat-card-subtitle>
      <span class="match-status" [ngClass]="match.state ? 'open' : 'closed'"></span>
    </mat-card-header>

    <mat-card-content>
      <div class="match-info">
        <div class="match-row">
          <mat-icon color="primary">place</mat-icon>
          <span class="match-city">{{match.club.name}}, {{ match.club.city || 'Por confirmar' }}</span>
        </div>

        <div class="match-row">
          <mat-icon color="primary">group</mat-icon>
          <span id="number-players">{{ getTotalPlayers()}}/{{ match.sport.modes[match.modeSelected].playersPerGame }} jugadores</span>
        </div>

        <div class="match-row">
          <mat-icon color="primary">lock</mat-icon>
          <span>{{ match.isPrivate ? 'Privado' : 'Público' }}</span>
        </div>

        <div class="match-row">
          <mat-icon color="primary">emoji_events</mat-icon>
          <span>{{ match.type ? 'Competitivo' : 'Amistoso' }}</span>
        </div>
      </div>

      <mat-divider class="divider"></mat-divider>
        <div class="organizer">
        <img
          class="organizer-avatar"
          [src]="getUserImage(match.organizer.id) || 'assets/default-avatar.jpg'" alt="avatar" 
          alt="Avatar del organizador"
          width="56"
          height="56"
        />
        <div class="organizer-info">
          <span class="organizer-name">{{ match.organizer.realname }}</span>
          <div class="organizer-meta">
            <span class="organizer-role">Organizador</span>
            <span class="separator">·</span>
            <span class="organizer-level">Nivel {{ match.organizer.level | number:'1.0-2' }}</span>
          </div>
        </div>

        <div class="match-price">
          <span>{{ match.price | number:'1.2-2' }} €</span>
        </div>
      </div>
    </mat-card-content>
    @if (match.state == true){
        @if(!isUserJoined(match, currentUserId)){
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" class="join-button" (click)="openJoinDialog(match)">
              Unirse
            </button>
          </mat-card-actions>
        }@else {
          <mat-card-actions align="end">
            <button 
              mat-raised-button 
              color = "warn"
              class="leave-button" 
              *ngIf="isUserJoined(match, currentUserId)"
              (click)="openLeaveDialog(match)"
            >
              <mat-icon>logout</mat-icon>
              Abandonar
            </button>
          </mat-card-actions>
          
        }
    }@else{
      <mat-divider class="divider"></mat-divider>
      <mat-card-content class="result-section">

        <h3 class="result-title">
          Resultado
        </h3>

        <div class="result-table-container">
          <table class="result-table">
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let s of match.result.team1GamesPerSet; let i = index">Set {{ i + 1 }}</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="team-label">Equipo A</td>
                <td *ngFor="let s of match.result.team1GamesPerSet; let i = index">
                  {{ s || 0 }}
                </td>
              </tr>

              <tr>
                <td class="team-label">Equipo B</td>
                <td *ngFor="let s of match.result.team2GamesPerSet; let i = index">
                  {{ s || 0 }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="add-result-container">
          <button mat-raised-button color="primary" class="edit-result-btn" (click)="editResult(match)" *ngIf="hasResult(match)">
            <mat-icon>edit</mat-icon>
            Editar resultado
          </button>
          <button 
            mat-raised-button 
            color="primary" 
            class="add-result-btn"
            (click)="addResult(match)"
             *ngIf="!hasResult(match)"
          >
            <mat-icon>add</mat-icon>
            Añadir resultado
          </button>
        </div>

      </mat-card-content>

    }
    
  </mat-card>
</div>
