<app-header></app-header>

<mat-card>
  
  <div class="chat-context">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span class="breadcrumb">
      Chats / <strong>#{{ matchId() }}</strong>
    </span>
  </div>

  <div class="messages">
    @for (msg of messages(); track $index) {

      @if (msg.message_side === 'system') {
        <div class="system-message">
          <span>
            @if (msg.type === 'JOIN') { @{{msg.content}}}
            @if (msg.type === 'LEAVE') { @{{msg.content}} }
          </span>
          <span class="time">{{ msg.formattedTime }}</span>
        </div>
      }

      @else if (msg.type === 'DATE_SEPARATOR') {
        <div class="date-separator">
          {{ msg.label }}
        </div>
      }

      @else {
        <div
          class="message"
          [class.sender]="msg.message_side === 'sender'"
          [class.receiver]="msg.message_side === 'receiver'"
        >
          <span class="user">@{{ msg.senderUsername }}</span>
          <p class="content">{{ msg.content }}</p>
          <span class="time">{{ msg.formattedTime }}</span>
        </div>
      }

    }

  </div>

  <form [formGroup]="form" (ngSubmit)="send()" class="form">

    <mat-form-field class="full-width" appearance="outline">
      <input matInput formControlName="content" placeholder="Mensaje..." />
    </mat-form-field>

    <button mat-fab id="send-message-btn" type="submit">
      <mat-icon>send</mat-icon>
    </button>

  </form>

</mat-card>