.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #f5f5f5;

  h2 {
    color: #333333;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #2C3E50, #1e88e5) 1;
    margin-left: 2rem; 
    display: inline-block;
  }
}

.admin-table {
  background: #f5f5f5;
  color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

  th {
    background: linear-gradient(90deg, #2C3E50);
    color: #FFFFFF;
    border: 0.5px solid ;
    border-color: #DEE2E6;
    font-weight: 550; 
  }
  th, td {
    font-size: 0.75rem;
    padding: 6px 10px;
  }

  td {
    background: #F8F9FA;
    color:#333333;
    border: 0.5px solid ;
    border-color: #DEE2E6;
  }

  tr:hover td {
    background: #EAF4FF;
  }
  .edit-icon{
    color: #495057; //#5C7AEA
  }
  .delete-icon{
    color: #E57373 ;
  }

}

.new-entity-btn {
  margin-right: 3rem;
  background: linear-gradient(90deg, #1e88e5, #42a5f5);
  color: #ffffff;
}

mat-paginator {
  margin: 1rem auto;
  display: flex;
  background-color: #f5f5f5;
  border-radius: 12px;
  border: 2px solid; 
  border-image: linear-gradient(90deg, #2C3E50, #1e88e5) 1;
  width: fit-content;
  padding: 0.5rem 1rem;
}


.modes-list,.sports-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.mode-item, .sport-item {
  background: #e9eef5;      // azul gris muy suave (más acorde a tu web)
  color: #2C3E50;           // azul oscuro corporativo
  border-radius: 6px;       // ligeramente menos redondeado
  padding: 4px 8px;         // menos espacio
  font-size: 0.75rem;       // texto más pequeño
  display: inline-flex;     // más compacto que flex column
  align-items: center;
  gap: 4px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  transition: all 0.15s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 8px rgba(0,0,0,0.12);
    background: #dde6f3;
  }

  .mode-name, .sport-name {
    font-weight: 600;
    font-size: 0.75rem;
    margin: 0;
  }

  .mode-players {
    font-size: 0.65rem;
    color: #6b7280;
  }
}

.sport-item {

  &[data-sport="tenis"] {
    background: #f1f5f9; 
    color: #2C3E50;
  }

  &[data-sport="padel"] {
    background: #e3f2fd; 
    color: #1e88e5;
  }

  &[data-sport="voleibol"],
  &[data-sport="volley"] {
    background: #e8f0fe; 
    color: #1565c0;
  }

  &[data-sport="futbol"],
  &[data-sport="fútbol"] {
    background: #fdecea;
    color: #c62828;
  }
}

.scoring-badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: background 0.2s ease;


  &[data-type="Puntos"] {
    background: #1e40af; 
  }
  &[data-type="Sets"] {
    background: #2563eb; 
  }
}
