.admin-form-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.admin-form-card {
  width: 100%;
  max-width: 650px;
  padding: 2rem;

  background-color: #11131a;
  border: 1px solid;
  border-color: #1e88e5;
  color: white;
  border-radius: 12px;

  h2 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    padding-bottom: 1rem;
    color: #f5f5f5;
    align-self: left;

    mat-icon {
      color: #f5f5f5;
    }
  }
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
}

.description-field {
  grid-column: span 2;
}

.mat-form-field {
    background-color: #1e1e2f;
    border-radius: 8px;
    padding: 0 8px;

    .mat-input-element {
        color: #ffffff; 
    }

    .mat-form-field-label {
        color: #cccccc; 
    }

    .mat-form-field-ripple {
        background-color: var(--mat-sys-primary); 
    }
}


.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.create-btn {
  background: linear-gradient(90deg, #1e88e5, #42a5f5) !important;
  color: white !important;
  font-weight: 600;
  border-radius: 8px;
}

.go-back-btn{
  background-color: #ffffff;
}

.photo-row {
  display: flex;
  flex-direction: column;      
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  h3 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    color: #f5f5f5;
    align-self: left;

    mat-icon {
      color: #f5f5f5;
    }
  }
}

.user-photo-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.no-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  background: #f2f2f2;
  border: 2px dashed #ccc;
}

.modes-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  h3 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    color: #f5f5f5;
    align-self: left;

    mat-icon {
      color: #f5f5f5;
    }
  }
}

.modes-container button {
  align-self: flex-start;
}


.mode-row {
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 1.5fr auto; 
  gap: 12px;

  mat-icon{
    color: #E57373;
    flex-shrink: 0;
    display: flex;
  }
}

.mode-name, .mode-players {
  flex: 1;
}

.sport-levels-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  h3 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    color: #f5f5f5;
    align-self: left;

    mat-icon {
      color: #f5f5f5;
    }
  }
}

.sport-level-row {
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 1fr auto; 
  gap: 12px;
  mat-icon{
    color: #E57373;
    flex-shrink: 0;
    display: flex;
  }
}

.sport-levels-container button {
  align-self: flex-start;
}


.upload-photo-btn {
  margin-top: 4px;
  background: linear-gradient(90deg, #1e88e5, #42a5f5);
  color: white;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  mat-icon {
    font-size: 20px;
  }
}

.info-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chip {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.9rem;
  color: #b0bec5;
  background: transparent;
  
  mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: #ffffff;
  }
}

.full-width {
  width: 100%;
}