.admin-form-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.admin-form-card {
  width: 100%;
  max-width: 650px;
  padding: 2rem;

  background-color: #11131a;
  border: 1px solid;
  border-color: #1e88e5;
  color: white;
  border-radius: 12px;

  h2 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    padding-bottom: 1rem;
    color: #f5f5f5;
    align-self: left;

    mat-icon {
      color: #f5f5f5;
    }
  }
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.25rem;
}

.description-field {
  grid-column: span 2;
}

.mat-form-field {
    background-color: #1e1e2f;
    border-radius: 8px;
    padding: 0 8px;

    .mat-input-element {
        color: #ffffff; 
    }

    .mat-form-field-label {
        color: #cccccc; 
    }

    .mat-form-field-ripple {
        background-color: var(--mat-sys-primary); 
    }
}


.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.create-btn {
  background: linear-gradient(90deg, #1e88e5, #42a5f5) !important;
  color: white !important;
  font-weight: 600;
  border-radius: 8px;
}

.go-back-btn{
  background-color: #ffffff;
}

.photo-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.user-photo-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.no-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  background: #f2f2f2;
  border: 2px dashed #ccc;
}

.modes-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  h3 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    color: #f5f5f5;
    align-self: left;

    mat-icon {
      color: #f5f5f5;
    }
  }
}

.mode-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mode-name, .mode-players {
  flex: 1;
}
