<div class="admin-container" [class.collapsed]="sidebarCollapsed">
  
  <aside class="sidebar">
    <button class="toggle-btn" (click)="toggleSidebar()">
      <mat-icon>{{ sidebarCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>

    <div class="logo">
      <img src="/assets/logo.png" alt="logo" />
    </div>

    <nav class="menu">

      <a routerLink="/admin/users" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        Usuarios
      </a>

      <a routerLink="/admin/matches" routerLinkActive="active">
        <mat-icon>sports_soccer</mat-icon>
        Partidos
      </a>

      <a routerLink="/admin/clubs" routerLinkActive="active">
        <mat-icon>stadium</mat-icon>
        Clubes
      </a>

      <a routerLink="/admin/sports" routerLinkActive="active">
        <mat-icon>emoji_events</mat-icon>
        Deportes
      </a>
    </nav>
  </aside>

  <main class="content">
    <header class="topbar">
      <div class="title"></div>

      <button mat-button [matMenuTriggerFor]="menu">
        <img class="avatar" [src]="getUserImage(user()?.id || 0) || 'assets/default-avatar.jpg'" alt="Usuario" />
      </button>

      <mat-menu #menu="matMenu" class="admin-menu">
        <button mat-menu-item (click)="goToProfile()">
          <mat-icon>person</mat-icon> Perfil
        </button>
        <button mat-menu-item (click)="logout()" class="logout-btn">
          <mat-icon color="warn">logout</mat-icon> Cerrar sesión
        </button>
      </mat-menu>
    </header>

    <router-outlet></router-outlet>
  </main>
</div>