:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  top: 0;
  z-index: 100;
}

.filter-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: none;
  padding: 1rem 1.5rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
}

.filter-header {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #555;
  margin-bottom: 1rem;

  mat-icon {
    margin-right: 0.4rem;
  }
}

.filter-form  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  .filter-field {
    flex: 1 1 220px;
  }

  .search-field {
    flex: 2 1 280px;
  }

  .friendlies-btn {
    border-radius: 8px;
    text-transform: none;
    font-weight: 500;
    height:55px;
    align-self: start;
    color: #333;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    transition: background 0.2s, color 0.2s, border-color 0.2s;

    &.active {
      background-color: #1976d2;
      color: #fff;
      border-color: #1976d2;
    }

    &:hover {
      background-color: #e0e0e0;
    }
  }
}
